/* Dark theme colors and styles */
body.dark-theme {
    --primary-bg-color: #202124;
    --primary-text-color: #e8eaed;
    --secondary-bg-color: #333; /* Slightly lighter background for hover effect */
    --link-color: #8ab4f8;
    --border-color: #5f6368; /* This can be set to transparent if you don't want borders in dark mode */
    --card-bg-color: #333333; /* Dark card background */
    --icon-filter: invert(1); /* This will invert icons to a lighter color */
    --footer-text-color: #bdc1c6;
    --light-text-color: #bdc1c6;
    --text-color: #e8eaed; /* Light text for readability in dark mode */
}

body.dark-theme .dark-theme-text {
    color: var(--light-text-color);
}

body.dark-theme .App-footer {
    color: var(--footer-text-color);
}

body.dark-theme .garage-card {
    border: none; /* Remove borders in dark theme */
    background-color: var(--secondary-bg-color); /* Set background color for the card */
}

body.dark-theme .garage-card:hover {
    background-color: var(--secondary-bg-color);
}

body.dark-theme .dropdown-menu {
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    border: 1px solid var(--border-color);
}

body.dark-theme .dropdown-menu a:hover,
body.dark-theme .dropdown-menu a:focus {
    background-color: #444; /* Lighten the background color on hover/focus */
}

body.dark-theme .dropdown-item::before {
    color: var(--link-color); /* Color of the checkmark in dark mode */
}

body.dark-theme .icon-sun {
    filter: var(--icon-filter);
}

body.dark-theme .appearance-button:focus {
    outline: none;
}

body.dark-theme .dropdown-header {
    border-bottom-color: var(--border-color); /* Ensure visibility of the separator */
}

.dark-theme .invert-logo {
    filter: invert(1);
}

/* Dark Theme Navbar Customizations */
body.dark-theme .navbar {
  background-color: var(--primary-bg-color);
  border-bottom: 1px solid var(--border-color);
}

body.dark-theme .navbar-brand .navbar-title,
body.dark-theme .navbar-brand .navbar-subtitle,
body.dark-theme a {
  color: var(--primary-text-color);
}

body.dark-theme .navbar-toggler-icon {
  filter: invert(1);
}

body.dark-theme .navbar-brand .navbar-logo {
  filter: var(--icon-filter);
}

/* Remove underline from navbar links on hover for dark theme as well */
body.dark-theme .navbar-brand:hover,
body.dark-theme .navbar-brand:focus {
    text-decoration: none !important;
}