.garage-card {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--card-bg-color);
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.garage-card:hover {
  background-color: var(--secondary-bg-color);
}

.garage-card-icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  filter: var(--icon-filter);
}

.garage-card-name,
.garage-card-available {
  font-weight: 500;
  color: var(--text-color);
  font-size: 0.875rem;
}

/* Ensure cards are responsive and fit well on mobile screens */
@media (max-width: 768px) {
  .garage-card {
    margin: 0.5rem;
    /* Adjust margins for mobile screens */
    max-width: calc(100% - 1rem);
    /* Ensure card width fits screen width minus margins */
  }
}

.instruction-text {
  font-size: 1.125rem; /* text-lg */
  font-style: italic;
  font-weight: 300; /* font-semibold */
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.light-theme .instruction-text {
  color: #1a202c;
}