*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Typography & Basic Layout */
body {
    margin: 0;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.App {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.App-header {
    background-color: var(--secondary-bg-color);
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}

.App-footer {
    padding: 1rem 0;
    background-color: var(--secondary-bg-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    color: var(--footer-text-color);
  }

.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    .cooperation-text {
        display: none;
    }
}